<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codilab - Index</title>
    <link rel="icon" href="/resources/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" >
</head>
<body>
    

    <div class="container" style="height: 100vh;">
        <div class="d-flex justify-content-center align-items-center h-100">
            
            <div class="card shadow-sm">
                <div class="card-header px-5">
                    <h1>Bienvenido a Codilab</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="contrasena">
                            <div class="input-group-append">
                                <span class="input-group-text cp" name="mostrar-contrasena"><i class="fas fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" name="recordar" id="recordar">
                    <label for="recordar">Recordar credenciales</label>
                    <button class="btn btn-primary btn-block" name="iniciar-sesion">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    <script src="resources/Modal2.js"></script>
    <script src="resources/Fechas.js"></script>
    <script src="resources/Utils.js"></script>
    <script src="js/Index.js"></script>
    <script>
        var modal = new Modal();
        var fechas = new Fechas();
        var utils = new Utils();
        var index = null;

        window.onload = () => {
            index = new Index();
        }
    </script>
</body>
</html>