<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codilab - Index</title>
    
    <link rel="icon" href="/resources/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Codilab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trabajos">Trabajos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/resumen">Resumen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archivos">Archivos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/usuarios/cerrar-sesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-3">
        <h2>Resumen</h2>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Listado
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-auto pt-1">
                               <b>Mes filtrado:</b>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm">
                                    <input type="month" name="anioMes" class="form-control form-control-sm">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" name="buscar-mes-v2"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="border mt-3">
                            <table name="tabla-resumen" class="table table-sm table-striped table-hover mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Detalle</th>
                                        <th class="text-right">Valor</th>
                                    </tr>
                                </thead>
                                <tbody class="font-weight-bold">
                                    <tr>
                                        <td>Trabajos</td>
                                        <td class="text-right text-monospace table-warning" name="trabajos">0</td>
                                    </tr>
                                    <tr>
                                        <td>Unidades creadas/a crear</td>
                                        <td class="text-right text-monospace table-warning" name="unidadesCreadas">0</td>
                                    </tr>
                                    <tr>
                                        <td>Ingresos extra <button class="btn btn-primary btn-sm py-0 px-1" name="agregarIngresoExtra">Agregar</button></td>
                                        <td class="text-right text-monospace table-warning" name="ingresosExtra">0</td>
                                    </tr>
                                    <tr>
                                        <td>Egresos extra <button class="btn btn-primary btn-sm py-0 px-1" name="agregarEgresoExtra">Agregar</button></td>
                                        <td class="text-right text-monospace table-warning" name="egresosExtra">0</td>
                                    </tr>
                                    <tr>
                                        <td>Reinversión generada <small class="text-muted">20% de la venta bruta</small> <button class="btn btn-primary btn-sm py-0 px-1" name="ejecutarReinversion">Ejecutar reinversión</button></td>
                                        <td class="text-right text-monospace table-warning" name="reinversionGenerada">0</td>
                                    </tr>
                                    <tr>
                                        <td>Reinversión ejecutada <small class="text-muted">No debería ser mayor a (reinversión generada + costos varios)</small> <button class="btn btn-primary btn-sm py-0 px-1" name="verReinversiones">Ver reinversiones</button></td>
                                        <td class="text-right text-monospace table-warning" name="reinversionEjecutada">0</td>
                                    </tr>
                                    <tr>
                                        <td>Costos por filamento</td>
                                        <td class="text-right text-monospace table-warning" name="costosFilamento">0</td>
                                    </tr>
                                    <tr>
                                        <td>Costos eléctrico</td>
                                        <td class="text-right text-monospace table-warning" name="costoElectrico">0</td>
                                    </tr>
                                    <tr>
                                        <td>Costos varios <small class="text-muted">Cadenitas, imanes, etc.</small></td>
                                        <td class="text-right text-monospace table-warning" name="costosVarios">0</td>
                                    </tr>
                                    <tr>
                                        <td>Monto bruto vendido</td>
                                        <td class="text-right text-monospace table-warning" name="montoBrutoVendido">0</td>
                                    </tr>
                                    <tr>
                                        <td>Monto bruto vendido (cobrado)</td>
                                        <td class="text-right text-monospace table-warning" name="montoBrutoVendidoCobrado">0</td>
                                    </tr>
                                    <tr>
                                        <td>Monto bruto vendido (pendiente)</td>
                                        <td class="text-right text-monospace table-warning" name="montoBrutoVendidoPendiente">0</td>
                                    </tr>
                                    <tr>
                                        <td>Ganancia neta <small class="text-muted">(Monto bruto vendido - c/filamento - c/eléctrico - c/varios - reinversión generada)</small></td>
                                        <td class="text-right text-monospace table-warning" name="gananciaNeta">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="border mt-5">
                            <table name="tabla-metodo-cobro" class="table table-sm table-striped table-hover mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Método de cobro</th>
                                        <th class="text-right">Monto</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modales" class="d-none">
        <div id="modal-agregar-registro">
            <div class="form-group">
                <label for="">Fecha</label>
                <input name="fecha" type="date" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="">Monto</label>
                <input name="monto" type="number" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="">Detalle</label>
                <input name="detalle" type="text" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="">Grupo</label>
                <select name="grupo" autocomplete="off" class="form-control form-control-sm">
                    <option value="filamento">Filamento</option>
                    <option value="repuesto">Repuesto</option>
                    <option value="componentes">Componentes</option>
                    <option value="luz">Luz</option>
                    <option value="varios">Varios</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" name="agregarIngreso">Agregar INGRESO</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" name="agregarGasto">Agregar GASTO</button>
                </div>
            </div>
        </div>
        <div id="modal-ejecutar-reinversion">
            <div class="form-group">
                <label for="">Fecha</label>
                <input name="fecha" type="date" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="">Detalle</label>
                <input name="detalle" type="text" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="">Monto</label>
                <input name="monto" type="number" autocomplete="off" class="form-control form-control-sm">
            </div>
            <div class="text-right">
                <button class="btn btn-primary" name="guardar">Guardar</button>
            </div>
        </div>
        <div id="modal-ver-reinversiones">
            <div class="border">
                <table class="table table-sm mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Detalle</th>
                            <th class="text-right">Monto</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    <script src="resources/Modal2.js"></script>
    <script src="resources/Fechas.js"></script>
    <script src="resources/Utils.js"></script>
    
    <script src="js/Resumen.js"></script>
    <script src="js/Trabajos.js"></script>
    <script>
        var modal = new Modal();
        var fechas = new Fechas();
        var utils = new Utils();
        var resumen = null;
        var trabajos = null;

        window.onload = () => {
            resumen = new Resumen(true);
            trabajos = new Trabajos(false); // No inicializo la asignacion de eventos
        }
    </script>
</body>
</html>